<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('partials/head') %> 
</head>
<body>
  <div class="background">
    <%- include ('partials/navbar') %>
    <div class="container-lg p-5">
      <!-- Title -->
        <img id="mugshot" src="/images/linkedin.png">
        <p class="title title-impt">Man Hin Tse</p>
        
        <!-- text content -->
        <div class="textbox-content">
          <p class="text-content-about">You can call me Daniel. I'm a student software developer with a passion for coding . 
            Back in 2020 when I was a video editor, I decided to took the course CS50 and since got immersed into the world of coding and software development. 
        </p>
        <p class="text-content-about">
            With expertise in Python and JavaScript, Daniel possesses a versatile skill set, crafting elegant solutions and
             pushing the boundaries of innovation. When not immersed in the world of programming, you can find Daniel embracing the 
             serenity of nature through camping.
        </p>
        </div>
      </div>
      <!-- Button -->
      <div class="container-fluid home-button pb-5">
        <a class="btn btn-outline-dark " href="/document/resume.pdf" role="button">Download My Resume</a>
      </div>
  </div>
</body>
<%- include ('partials/script') %>
</html>