<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('partials/head') %> 
</head>
<body>
  <div class="background">
    <%- include ('partials/navbar') %>

    <!-- Title -->
    <div class="container-lg textbox">
      <p class="title">Hi.</p>
      <span class="title">I'm </span> <span class="title title-impt">Daniel</span> <span class="title">,</span> 
      <p class="title">a Web Developer.</p>
      <!-- text content -->
      <div class="textbox-content">
        <p class="text-content">My mission is to empower businesses by providing tailor-made software solutions that drive growth and efficiency. 
          With a focus on understanding my clients' unique needs and goals, I am committed to delivering high-quality, scalable, and user-friendly
           applications that exceed expectations. Through open communication, collaboration, and a client-centric approach, I strive to build long-term
            partnerships based on trust and exceptional results.</p>
      </div>
    </div>
    <!-- Button -->
    <div class="container-fluid home-button pb-5">
      <a class="btn btn-outline-dark " href="/about-me" role="button">Learn more</a>
    </div>
  </div>
</body>
<%- include ('partials/script') %>
</html>