<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('partials/head') %> 
</head>
<body>
  <div class="background">
    <%- include ('partials/navbar') %>
    <div class="container p-5">
      <!-- Title -->
      <h1 class="title">Services</h1>
      <div class="container mt-5" style="max-width:500px;margin-left: 0;">
        <div class="textbox-content-service">General Programming in programming languages like Python, JavaScript, Java, C++. I can help clients with coding tasks, bug fixing, or developing small-scale applications.</div>
      </div>

      <!-- language logos -->
      <div class="container mt-5"  style="max-width: 600px; margin-left:auto;">
        <div class="row p-1">
          <div class="col-sm p-1">
              <img height="100px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain-wordmark.svg" />
          </div>
          <div class="col-sm p-1">
              <img height="100px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
          </div>
          <div class="col-sm p-1">
              <img height="100px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" /> 
          </div>
          <div class="col-sm p-1">
              <img height="100px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" />
          </div>
          <div class="col-sm p-1">
              <img height="100px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
          </div>
      </div>
      

      </div>
    </div>
  </div>
</body>
<%- include ('partials/script') %>
</html>